.container{
    background-color: rgb(60, 60, 60);
    background-color: rgba(60, 60, 60, 0.9);
    border-radius: 15px;
    border: 2px black solid;
    padding: 70px;
    position: relative;
    margin-left: 150px;
    margin-right: 150px;
}

.avatar{
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0; 
    margin-right: 150px;
    margin-top: 50px;
    cursor: pointer;
}

.btnRegister{
    width: 500px;
}

.sectionTitle{
    font-weight: bold;
    float: left;
}

.section{
    float: left;
}

.postalCode{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.errorMessage{
    color: red
}